/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 15px;
  width: 60px;
}

button:hover {
  color: #3a3a3a;
}

/* Heading */
h3 {
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  padding: 30px 0 10px;
  text-transform: uppercase;
}

.header {
  display: block;
  margin: 0 auto;
  text-align: right;
  width: 500px;
}

.header__poster {
  width: 100%;
}

.header__link-more-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.app {
  display: block;
  margin: 0 auto 0;
  width: 500px;
}

/* Add Task */

.app__add-tasks {
  display: flex;
}

.app__add-task h3 {
  display: block;
  margin: 0 0 20px;
}

.app__add-tasks .task__input {
  display: inline-block;
  width: 318px;
}

/* Completed */
.app__completed-tasks .task__label {
  color: #888;
  text-decoration: line-through;
}

/* Task */
.task {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px 0;
}

.task > * {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}

.task__label {
  box-sizing: border-box;
  font-size: 18px;
  padding-left: 10px;
  width: 226px;
}

.task__input {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #888;
  display: inline-block;
  display: none;
  font-family: Lato, sans-serif;
  font-size: 18px;
  height: 21px;
  line-height: 18px;
  margin: 0;
  padding: 0 9px;
  width: 226px;
}

.task__input:focus {
  color: #333;
}

.task__btn-delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__btn-delete img:hover {
  transform: rotateZ(0);
}

/* Edit Task */
.task.edit-mode .task__input {
  display: inline-block;
  width: 224px;
}

.task.edit-mode .task__label {
  display: none;
}
